@import url('https://fonts.googleapis.com/css2?family=Arimo&family=League+Spartan:wght@200;300&family=Montserrat&family=Open+Sans&family=Poppins:ital,wght@0,200;0,300;0,500;0,700;0,800;1,100;1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 20px auto;
    padding-left: 25px;
    padding-right: 25px;
}

.logo img{
    width: 170px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 a{
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    background: red;
    color: #fff;
    border-radius: 30px;
    margin-top: 25px;
    transition: background 0.5s;
}

.col-2 a:hover{
    background:#cc0501
}

.col-2 img{
    width: 100%;
    padding: 30px 0;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
}

.header-section{
    margin-top: -20px;
}

/* Style de la section catégories*/

.categories{
    margin: 70px 0;
}

.col-3{
flex-basis: 30%;
min-width: 250px;
margin: auto;
}

.col-3 img{
    width: 100%;
}

.container h2{
    text-align: center;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 25px 0;
}

/* Sections meilleurs produits*/
.col-4{
    flex-basis: 25%;
    min-width: 200px;
    padding: 15px;
}

.col-4 img{
    width: 250px;
}